html {
    height: 100%;
    width: 100%;
  }
  a {
    text-decoration: none;
    background-color: #cd9dbe;
    font-size: 22px;
    color:white;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px;
    margin: 10px;
    border-top-left-radius: 15px
    border-top-right-radius: 15px
  }
  