html {
  min-height: 100vh;  
  }

  body {
    text-align: center;
    background-color: #b65855;
    font-family: Inter, Sans-serif;
  }

  .obsah li {
    display: block;
    padding: 10px 5px;
    margin: 10px;
  }

 .obsah li>a {
    display: inline-block;
    text-decoration: none;
    background-color: #cd9dbe;
    font-size: 22px;
    color:white;
    border-radius: 5px;
    padding: 5px;
  }

  ul {
    list-style-type: none;
    display: block;
  }
  