html {
  min-height: 100vh;  
  }

  body {
    background-color: #b65855;
  }

 .obsah li>a {
    display: block;
    text-decoration: none;
    background-color: #cd9dbe;
    font-size: 22px;
    color:white;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px;
    margin: 10px;
    border-top-left-radius: 15px
    border-top-right-radius: 15px
  }

  ul {
    list-style-type: none;
    display: block;
  }
  